.btn-primary {
    background: linear-gradient(35.24deg, #0FD8F1 5.93%, #089ED8 92.29%);
    border-radius: 37.5px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    padding: 21px 65px;
    border: none;
}

.btn-secondary {
    background: #19212F;
    border-radius: 37.5px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    color: #FFFFFF;
}

.btn {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
}
