.subheading {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 18px;
    color: #089FD9;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 82px;
    line-height: 77px;
    letter-spacing: -0.987905px;
    color: #19212F;

}

.description {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 31px;
    color: #303030;
    mix-blend-mode: normal;
    opacity: 0.7;
}

strong {
    color: #089FD9;
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.735406px;
}