.small-points {
    position: relative;
    min-height: 783px;
    width: 100%;
    margin-top: 75px;
    padding-top: 70px;
    padding-bottom: 70px;

    .row {
        &.order-reverse {
            .bg-img {
                grid-row: 1;
                grid-column: 2;
                padding-right: 0px;
                padding-left: 0px;
            }

            .text {
                grid-row: 1;
                grid-column: 1;
                padding-right: 0px;
                padding-left: 0px;
            }
        }
    }

    // title
    &__title {
        padding-bottom: 45px;
        margin-top: -22px;
    }

    .text-right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    // bg img
    .bg-img {
        grid-row: 1;
        grid-column: 1;
        max-width: 100%;
    }

    &__img {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    // text
    .text {
        grid-row: 1;
        grid-column: 2;
        max-width: 100%;
        display: grid;
        gap: 30px;
    }

    // small point
    &__small-con {
        background-color: #09A0D9;
        position: relative;
        width: 100%;
        padding: 36px 70px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__heading {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -0.428571px;
            color: #FFFFFF;
        }
    }



    //big point
    &__big-con {
        background-color: #19212F;
        position: relative;
        width: 100%;
        padding: 36px 70px;
        display: flex;
        flex-direction: row;
        align-items: center;

        // vertical line
        &::before {
            content: "";
            position: absolute;
            width: 9px;
            height: 100%;
            background: #09a0d9;
            left: 0;
            top: 0;
        }

        &__column-image {
            width: 62px;
            height: 62px;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            background-position: center;
            padding: 33px;
            margin-right: 40px;
        }

        &__heading {
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -0.428571px;
            color: #09A0D9
        }
    }


    &__description {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        letter-spacing: -0.25px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.7;
        margin-top: 15px;
    }
}

// .small-points__big-con::before {
//     content: "";
//     position: absolute;
//     width: 9px;
//     height: 100%;
//     background: #09a0d9;
//     left: 0;
//     top: 0;
// }

// bg color
.beige-color {
    background-color: #F5F5F5;
}

.white-color {
    background-color: #FFFFFF;

}